* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wadah-konten {
    max-width: 725px;
    margin: 0 auto;
}
header {
    background-color: #1e3a05;
}
.kartu-item {
    background-color: #ffffff;
    padding: 16px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-left: 4px solid #1e3a05;
}
nav a:hover {
    color: #ffffff;
    transition: color 0.3s;
}
.status-ujian {
    color: green;
}